{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "next",
    "next/core-web-vitals",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "prettier" // prettier *has* to be the last one, to avoid conflicting rules
  ],
  "ignorePatterns": [
    "saleor/api.tsx",
    "pnpm-lock.yaml",
    "graphql.schema.json",
    "lib/$path.ts"
  ],
  "plugins": ["simple-import-sort", "formatjs", "@typescript-eslint"],
  "rules": {
    "quotes": ["error", "double"],
    "react/react-in-jsx-scope": "off", // next does not require react imports
    "import/extensions": "off", // file extension not required when importing
    "react/jsx-filename-extension": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "no-await-in-loop": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "formatjs/no-offset": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/ban-types": "off",
    // Commented for temporary time
    "no-console": ["off", { "allow": ["warn", "error"] }],
    "operator-linebreak": "off",
    "max-len": "off",
    "array-callback-return": "off",
    "implicit-arrow-linebreak": "off",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "no-restricted-imports": "off",
    "no-restricted-exports": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "react/no-unused-prop-types": "off",
    "camelcase": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-useless-concat": "off",
    "class-methods-use-this": "off",
    "no-use-before-define": "off",
    "consistent-return": "off",
    "import/no-unresolved": "off", //temp
    "@typescript-eslint/no-var-requires": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-shadow": "off",
    "dot-notation": "off",
    "react/self-closing-comp": "off",
    // TO FIX:
    "import/no-cycle": "off", // pathpidia issue,
    "jsx-a11y/anchor-is-valid": [
      "off",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "no-else-return": "warn",
    "no-dupe-else-if": "warn",
    "no-unsafe-optional-chaining": "off"
  }
}
